@model DogHub.Web.ViewModels.Competitions.AllEventsViewModel

@{
    this.ViewData["Title"] = "Full List of Competitions";
}

<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" href="~/css/Competitions/CompetitionsListStyles.css" />
</head>
<body>
    <h2 class="text-center">Competitions List</h2>

    <div style="padding:40px;">
        <h3><i class="fas fa-medal"></i> Current</h3>
    </div>

    @if (Model.CurrentEvent == null)
    {
        <p class="font-weight-bold">
            <i class="fas fa-info-circle"></i>
            Currently there is no competition in progress.
        </p>
    }
    else
    {
        <table class="col-md-12 table-hover">
            <partial name="_CompetitionsListHeaderPartialView"></partial>
            <tbody>
                <tr>
                    <td>
                        @Model.CurrentEvent.Name
                    </td>
                    <td>
                        @Model.CurrentEvent.Organiser
                    </td>
                    <td>
                        @Model.CurrentEvent.Breed
                    </td>
                    <td>
                        <a class="btn btn-dark" href="/Competitions/Details?id=@Model.CurrentEvent.CompetitionId">Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
    }

    <hr />

    <div style="padding:40px;">
        <h3 style="height:50px;" id="upcomingEvents"><i class="fas fa-medal"></i> Upcoming</h3>
        <a href="#pastEvents"> See All Past Competitions</a>
    </div>

    @if (Model.UpcomingEvents.Count() == 0)
    {
        <p class="font-weight-bold">
            <i class="fas fa-info-circle"></i>
            Currently there are no upcoming competitions.
        </p>
    }
    else
    {
        <table class="col-md-12 table-hover">
            <partial name="_CompetitionsListHeaderPartialView"></partial>
            @foreach (var item in Model.UpcomingEvents)
            {
                <tbody>
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Organiser
                        </td>
                        <td>
                            @item.Breed
                        </td>
                        <td>
                            <a class="btn btn-dark" href="/Competitions/Details?id=@item.CompetitionId">Details</a>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    }

    <hr />

    <div style="padding:40px;">
        <h3 style="height:50px;" id="pastEvents"><i class="fas fa-medal"></i> Past</h3>
        <a href="#upcomingEvents"> See All Upcoming Competitions</a>
    </div>
    @if (Model.PastEvents.Count() == 0)
    {
        <p class="font-weight-bold">
            <i class="fas fa-info-circle"></i>
            There are no past competitions.
        </p>
    }
    else
    {
        <table class="col-md-12 table-hover">
            <partial name="_CompetitionsListHeaderPartialView"></partial>
            @foreach (var item in Model.PastEvents)
            {
                <tbody>
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Organiser
                        </td>
                        <td>
                            @item.Breed
                        </td>
                        <td>
                            <a class="btn btn-dark" href="/Competitions/Details?id=@item.CompetitionId">Details</a>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    }
</body>
</html>






