@model DogHub.Web.ViewModels.Competitions.CompetitionDetailsViewModel

@{
    this.ViewData["Title"] = "Competition Details";
}

<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="~/js/Competitions/CompetitionDetailsScripts.js"></script>
    <link rel="stylesheet" href="~/css/Competitions/CompetitionDetailsStyles.css" />
</head>
<body>
    <div class="container">
        <div id="comeptitionDetails">
            <table>
                <thead>
                <th></th>
                <th>Competition Details</th>
                <th></th>
                </thead>

                <tbody>
                <td>
                    <img width="200" class="j img-thumbnail" src="@Model.CompetitionImage" />
                </td>

                <td>
                    <div class="font-weight-bold">
                        @Model.Name
                    </div>
                    <p class="font-weight-normal">
                        <li>Start Date and Time: @Model.StartDate.ToString("f")</li>
                        <li>End Date and Time: @Model.EndDate.ToString("f")</li>
                        <li>Participants: @Model.ParticipantsCount</li>
                        <li>Status: @Model.Status</li>
                    </p>
                </td>
                @if (Model.Status == "In Progress")
                {
                    <td>
                        <a class="btn btn-info" href="/CurrentShows/Competitors?competitionId=@Model.CompetitionId">Vote</a>
                    </td>
                }
                else if (Model.Status == "Upcoming")
                {
                    <td>
                        <a class="btn btn-info" href="/Competitions/AddDogToCompetition?id=@Model.CompetitionId">Add Dog to Competition</a>
                    </td>
                }

                else if (Model.Status == "Complete")
                {
                    <td>
                        <a class="btn btn-info" id="detailsBtn" onclick="displayFunc()">Winners Details</a>
                    </td>
                }
                </tbody>
            </table>
        </div>

        <div id="winnersDetails">
            <table>
                <thead>
                <th>Place</th>
                <th>Females/Points</th>
                <th>Males/Points</th>
                </thead>

                <tbody>
                <td>
                    <p>
                        <i class="fas fa-trophy"></i>
                        <span class="font-weight-bold"> Winner: </span>
                    </p>
                    <p>
                        <span> 2nd place: </span>
                    </p>
                    <p>
                        <span> 3rd place: </span>
                    </p>
                </td>
                <td id="females">
                    @foreach (var female in Model.FemaleDogWinners)
                    {
                        <p>
                            <a id="dogName" href="/Dogs/DogProfile?id=@female.Id">@female.Name/ @female.TotalPoints points</a>
                        </p>
                    }

                </td>
                <td id="males">
                    @foreach (var male in Model.MaleDogWinners)
                    {
                        <p>
                            <a id="dogName" href="/Dogs/DogProfile?id=@male.Id">@male.Name/ @male.TotalPoints points</a>
                        </p>
                    }

                </td>
                <td>
                    <a class="btn" id="closeData">
                        <i class="fas fa-times"></i>
                    </a>
                </td>


                </tbody>
            </table>

        </div>

    </div>

    <span>
        <a class="btn btn-light btn-outline-dark" style="margin-top: 10px; margin-left: -50px;" href="/Competitions/CompetitionsList">Back</a>
    </span>

</body>
</html>

