@model DogHub.Web.ViewModels.Dashboards.DashboardIndexViewModel
@using DogHub.Common 

@{
    this.ViewData["Title"] = "Dog Owner Dashboard";
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<h2 style="padding:20px;">Dashboard</h2>

<div id="container" class="col-md-12">
    @if (this.User.IsInRole(GlobalConstants.JudgeRoleName))
    {
        <div>
            <h3 style="padding-top:30px;"><i class="fas fa-bone"></i> Competitions You Have Voted In As A Judge</h3>
            <hr />
            @if (Model.JudgeVotingData.Count() == 0)
            {
                <h4>You haven't voted as a judge yet.</h4>
            }
            else
            {
                <table class="table-bordered col-md-12">
                    <thead class="text-center">
                    <th>Competiton Name</th>
                    <th>Competition Start</th>
                    <th>Competition End</th>
                    <th>Participants Count</th>
                    </thead>
                    <tbody class="text-center">
                        @foreach (var competition in Model.JudgeVotingData)
                        {
                            <tr>
                                <td>
                                    @competition.Name
                                </td>
                                <td>
                                    @competition.StartDate
                                </td>
                                <td>
                                    @competition.EndDate
                                </td>
                                <td>
                                    @competition.ParticipantsCount
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    }
    <div>
        <h3 style="padding-top:30px;"><i class="fas fa-bone"></i> All Competitions You Have Voted In</h3>
        @if (Model.RegularVotingData.Count() == 0)
        {
            <h4>You haven't voted in any competitions yet.</h4>
        }
        else
        {
            <table class="table-bordered col-md-12">
                <thead class="text-center">
                <th>Competiton Name</th>
                <th>Competition Start</th>
                <th>Competition End</th>
                <th>Participants Count</th>
                </thead>
                <tbody class="text-center">
                    @foreach (var competition in Model.RegularVotingData)
                    {
                        <tr>
                            <td>
                                @competition.Name
                            </td>
                            <td>
                                @competition.StartDate
                            </td>
                            <td>
                                @competition.EndDate
                            </td>
                            <td>
                                @competition.ParticipantsCount
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

    @if (Model.DogsCount != 0)
    {
        <div>
            <h3 style="padding-top:30px"><i class="fas fa-bone"></i> Your Dogs</h3>
            <hr />
            <p>
                <a class="btn btn-light" asp-controller="Dogs" asp-action="Register">Register a New Dog</a>
            </p>
            <p>
                <a class="btn btn-light" href="/Competitions/CompetitionsList#upcomingEvents">Subscribe a Dog To Upcoming Competition</a>
            </p>
            <h5>Currently you have @Model.DogsCount registered dog/s.</h5>
            @if (Model.DogsCount != 0)
            {
                <table class="table-bordered col-md-12">
                    <thead class="text-center">
                    <th>Dog Image</th>
                    <th>Dog Name</th>
                    <th> Dog Breed</th>
                    <th>Options</th>
                    </thead>
                    <tbody>
                        @foreach (var dog in Model.DogsData)
                        {
                            <tr>
                                <td class="text-center">
                                    <img height="150px;" src="@dog.ImageUrl" />
                                </td>
                                <td class="text-center">@dog.Name</td>
                                <td class="text-center">@dog.BreedName</td>
                                <td style="text-align:center;">
                                    <p>
                                        <a class="btn btn-light" asp-controller="Dogs" asp-action="DogProfile" asp-route-id="@dog.Id">View Profile</a>
                                    </p>
                                    <p>
                                        <a class="btn btn-light" asp-controller="Dashboards" asp-action="EditDog" asp-route-id="@dog.Id">Edit or Delete Dog</a>
                                    </p>
                                    <p>
                                        <a href="">Find a Partner</a>
                                    </p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    }
    @if (Model.DogsCompetitionsData.Count() != 0)
    {
        <div>
            <h3 style="padding-top:30px;"><i class="fas fa-bone"></i> Competitions Your Dogs Participated In</h3>
            <hr />
            <table class="table-bordered col-md-12">
                <thead class="text-center">
                <th>Competition Image</th>
                <th>Competiton Name</th>
                <th>Your Dog Competitors</th>
                </thead>
                <tbody class="text-center">
                    @foreach (var competition in Model.DogsCompetitionsData)
                    {
                        <tr>
                            <td>
                                <img style="height:150px;" src="@competition.CompetitionImage" />
                            </td>
                            <td>
                                @competition.CompetitionName
                            </td>
                            <td>
                                @foreach (var dog in competition.AllDogsParticipants)
                                {
                                    <p>@dog.Name - won @dog.TotalPoints points</p>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

