@model DogHub.Web.ViewModels.Dogs.DogsCatalogueViewModel

@{
    this.ViewData["Title"] = "Dogs Catalogue, page" + Model.PageNumber;
    var breedItems = this.Model.BreedsItems.Select(x => new SelectListItem(x.Value, x.Key));
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Dogs/CatalogueStyles.css" />
</head>
<body>
    <div class="container">
        <div class="page-header text-center" style="padding:20px;">
            <h2>Registered Dogs</h2>
            <h4>Review the Full Catalogue or Buy a Dog</h4>
            </br>
            <a class="btn btn-success font-weight-bold" href="/Dogs/Register">Register Your Dog</a>
        </div>
        <br />

        <div class="componentFilter col-md-6">
            <p>
                <i class="fas fa-filter"></i>
                Filter dogs by breed (please select from the drop-down menu):
                <div class="form-group">
                    @*<label asp-for="BreedId"></label>*@
                    <select asp-for="BreedId" asp-items="breedItems"></select>
                    <span asp-validation-for="BreedId" class="text-danger"></span>
                </div>
            </p>

        </div>
        <hr class="col-md-12" />
        <br />

        <div class="component">
            @foreach (var item in Model.DogsData)
            {
                <div class="singleDog">
                    <img src="@item.ImageUrl" />
                    <div style="padding-top:2px;" class="font-weight-bold text-center"> @item.Name</div>

                    <span>
                        <p>
                            <a style=" padding-left:10px;">
                                @if (item.Gender == "Female")
                                {
                                    <i style="color:deeppink;" class="fas fa-dog"></i>
                                }
                                else if (item.Gender == "Male")
                                {
                                    <i style="color:blue;" class="fas fa-dog"></i>
                                }
                                @item.BreedName
                            </a>
                        </p>
                        <a style=" padding-left:10px;">
                            @if (item.Gender == "Female")
                            {
                                <i style="color:deeppink" class="fas fa-venus"></i>
                            }
                            else if (item.Gender == "Male")
                            {
                                <i style="color:blue;" class="fas fa-mars"></i>
                            }
                            @item.Gender
                        </a>
                        @*<a hidden="hidden" name="EyesColor" value="Model.EyesColor"></a>
                        <a hidden="hidden" name="DogColor" value="Model.DogColor"></a>*@
                    </span>

                    <span style="float: right; padding-right:10px;">
                        <a class="btn btn-light" href="/Dogs/DogProfile?id=@item.Id"><small>Profile</small></a>
                        @if (item.Sellable == true)
                        {
                            <a class="btn btn-light" href="/Dogs/Buy?id=dogid"><small>Buy</small></a>
                        }
                    </span>
                </div>
            }
        </div>
    </div>

    <partial name="_PagingPartial" model="@Model" />
</body>
</html>

