@model DogHub.Web.ViewModels.Judges.JudgesListViewModel 

@{
    this.ViewData["Title"] = "Judges List";
}

<section id="team" class="hero-fullscreen2 pt100 pb90">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Our Fair <strong>Judges</strong></h2>
                <p class="lead">They do their best to judge the competition participants fairly.</p>
            </div>


            <div class="team-slider owl-carousel dark-pagination col-md-5">
                @foreach (var judge in Model.JudgesList)
                {

                <div class="team">
                    <div class="team-container">
                        <div class="team-image">
                            <img src="@judge.JudgeImage" class="img-responsive" alt="#" />
                        </div>
                        <div class="team-caption">
                            <div>
                                <div>
                                    <p>Years of experience: @judge.YearsOfExperience</p>
                                    <p>Raised litters: @judge.RaisedLitters</p>
                                    <p>Number of dog champions owned: @judge.NumberOfChampionsOwned</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5>@judge.FirstName @judge.LastName</h5>
                    <p>@judge.SelfDescription</p>
                </div>
                }
                
            </div>

        </div>
    </div>
</section>