@using DogHub.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="~/css/Theme/theme.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />

    <script src="https://kit.fontawesome.com/5ca9ec9902.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Competitions" asp-action="CompetitionsList">Competitions</a>
                        </li>

                        <li class="dropdown megamenu vos">
                            <a class="dropdown-toggle">Dogs<i class="ion-ios-arrow-down"></i></a>
                            <ul class="dropdown-menu fullwidth">
                                <li class="megamenu-content withdesc">
                                    <div class="col-md-3 mg-col">
                                        <ul>
                                            <li><a asp-controller="Dogs" asp-action="Main">Dog Experience</a></li>
                                            <li><a asp-controller="Dogs" asp-action="Catalogue">Catalogue</a></li>
                                            <li><a asp-controller="Dogs" asp-action="Register">Register Dog</a></li>
                                            <li><a asp-controller="Dogs" asp-action="BreedsList">Propose New Breed</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown megamenu vos">
                            <a class="dropdown-toggle">Judges<i class="ion-ios-arrow-down"></i></a>
                            <ul class="dropdown-menu fullwidth">
                                <li class="megamenu-content withdesc">
                                    <div class="col-md-3 mg-col">
                                        <ul>
                                            <li><a asp-controller="Judges" asp-action="JudgesList">Judges List</a></li>
                                            <li><a asp-controller="CommonForms" asp-action="ApplyForJudge">Apply For Judge</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contacts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-center" style="background-color:lightgray;">
        <div class="container">
            <p>Made With Love for Your Beloved Ones.</p>
            <p>
                &copy; @DateTime.Now.Year - @GlobalConstants.SystemName
            </p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>

