@model DogHub.Web.ViewModels.CurrentShows.CurrentShowOnIndexPageViewModel

@using DogHub.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="~/js/Home/IndexScripts.js"></script>
    <link rel="stylesheet" href="~/css/IndexStyles.css" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <p>The dog competitions are not what they used to be...</p>
    </div>

    @if (Model != null)
    {
            <!-- Countdown -->
            <section id="elements-countdown" class="pt100 pb100 bg-grey" style="margin-bottom:20px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3>Vote now in</h3>
                            <h1><strong>@Model.CompetitionName</strong></h1>
                            <p class="lead">This competition has started on @Model.CompetitionStart.ToString("F")</p>
                            <p class="lead">The ramaining time to vote for your favourites in the competition is</p>
                        </div>

                        <div class="col-sm-12 text-center">
                            <div id="countdown-timer">
                                <div><h2 id="days"></h2><h6>Days</h6></div>
                                <div><h2 id="hours"></h2><h6>Hours</h6></div>
                                <div><h2 id="minutes"></h2><h6>Minutes</h6></div>
                                <div><h2 id="seconds"></h2><h6>Seconds</h6></div>
                            </div>
                            @*!!!INSTEAD OF THE <P> below: <p id="endDate" hidden="hidden">@Model.Date.UtcNow.ToString("G")</p>*@
                            <p id="endDate" hidden="hidden">@Model.CompetitionEnd.ToString("F")</p>
                            <p id="counter"></p>
                            <a href="/CurrentShows/Competitors?competitionId=@Model.CompetitionId" class="btn btn-lg btn-primary btn-circle btn-appear mt40"><span>Vote Now <i class="fas fa-angle-double-right"></i></span></a>
                        </div>

                    </div>
                </div>
            </section>
        <!-- End Countdown -->
    }

    <!--Slider-->
    <div class="container">
        <div data-overlay-dark="5">
            <img src="/images/common/competitionImage.jpg">
        </div>
        <div class="text-block">
            <h2>Get the Full Dog Experience</h2>
        </div>
    </div>
    <!--End Slider-->
</body>
</html>


